//@import "variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Quicksand';


/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background: #78000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #960000, #780000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #960000, #780000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #960000, #780000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #960000, #780000); /* Standard syntax */
}
body {
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.footer {
    position: relative;
    top: 300px;
}

#arrow-down {
    cursor: pointer;
    color: #fff;
    font-size: 3em;
}

#info {
    background-color: #b5b5b5;
}
/*
 * Cover
 */

.cover {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

h1, h2 {
    opacity: 0;
}

@media (min-width: 1080px) {
    #logo {
        width: 1000px;
    }

    h1 {
        font-size: 4em;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -360px;
        margin-top: 0px;
    }

    h2 {
        font-size: 4em;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -360px;
        margin-top: 220px;
    }
}

@media (max-width: 1079px) and (min-width: 500px) {
    #logo {
        width: 500px;
    }

    h1 {
        font-size: 2em;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: 0px;
    }

    h2 {
        font-size: 2em;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: 110px;
    }
}

@media (max-width: 499px) {
    #logo {
        width: 300px;
    }

    h1 {
        font-size: 1.2em;
        position: absolute;
        left: 50%;
        margin-left: -107px;
        top: 50%;
        margin-top: 0px;
    }

    h2 {
        font-size: 1.2em;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -107px;
        margin-top: 70px;
    }
}
